@import "~ng-zorro-antd/ng-zorro-antd.min.css";
      .login-form {
        max-width: 300px;
        min-height: 220px;
        position: absolute;
        top: 30%;
        margin: auto;
        left: 0;
        right: 0;
      }

      .login-form-margin {
        margin-bottom: 16px;
      }

      .login-form-forgot {
        float: right;
      }

      .login-form-button {
        width: 100%;
      }
